fieldset {
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    border: 10px solid antiquewhite;
    border-radius: 5px;
    text-align: center;
    background-color: cadetblue;
    width: 200px;
    height: 250px;
}

label {
    display: block;
}
#head {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#y {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
* {
    background-color: rgb(23, 118, 118);
}